OL,UL,P,BODY,TD,TR,TH,FORM,H1,H2,H3,H4,H5,H6 {
  font-family: arial, helvetica, verdana, sans-serif;
}

A:link { 
  color: #000083;
}

A:visited {
  color: #af0000;
}

A:hover {
  color: #4f371e;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

blockquote {
        border-left: 4px solid #E6E5DD;
}

code {
        color: #1C360C;
}

pre {
        padding: 10px 10px 10px 20px;
        background-color: #f0f0f0;
        border: 1px solid #cccbba;
}

table {
    width: 100%
    border: 1
    cellspacing: 0
    cellpadding: 5
}

.header { 
  background-color: #BAC0CD;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0.5em;
}

.hleft {
  font-size: large;
  font-weight: bold;
}

.hright {
  text-align: right;
}

.hidden {
  display: none;
}

.footer { 
  background-color: #BAC0CD;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: small;
  text-align: center;
  padding: 0.5em;
}

.nav-border {
  background-color: #656565;
}

.nav-logo {
  font-size: xx-large;
  font-weight: bold;
}

.nav-body {
  background-color: #ccccff;
}

.dl-header {
  font-weight: bold;
  background-color: #6b9cff;
}

.dl-group {
  background-color: #b5b5b5;
  font-weight: bold;
}

.demo-param {
  font-weight: bold;
  text-align: right;
}

.demo-value {
}

.x-nav { 
  position: relative;
  float: right;
  vertical-align: middle;
}

.content { 
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.logo {
  padding: 10px;
  float: right;
}

.news-date {
	font-weight: bold;
}

.floatRight {
	float: right;
	margin: 5px;
}
