<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>net.mame.mameosx</string>
    <key>CFBundleHelpBookFolder</key>
    <string>manual</string>
    <key>CFBundleHelpBookName</key>
    <string>MAME OS X Help</string>
    <key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_MARKETING_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MameApplication</string>
    <key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>MAME OS X URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${MY_URL_SCHEME}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
